// Custom.scss
// Option A: Include all of Bootstrap

$theme-colors: (
  "purple": #6610f2,
  "pink" : #ff00cb
);

$black:   #474B6D;
$indigo:  #7475FF;
$white:   #fff;
$red:     #FF6767;
$green:   #507C5C;


$gray:    #989ECD;

$body-bg: $white;
$body-color: $gray;

$primary:   $gray;
$secondary: $black;
$success:   $indigo;
$info:      $green;

$navbar-light-color:  $black;
$navbar-light-hover-color: $indigo;
$navbar-light-active-color: $indigo;

$btn-padding-y: .6em;
$btn-padding-x: 2em;

$grid-gutter-width: 80px;

$card-spacer-x: 0em;

@import "../node_modules/bootstrap/scss/bootstrap";

//navbar and footer css
@import "components/navigation";
@import "components/footer";
@import "components/accounts";

//various pages
@import "pages/home";
@import "base/typography";



