.jumbotron {
  
  //sizing
  width: 100vm;
  height: 100vh;
  //margin: 0px;
  padding-top: 35vh;
  padding-bottom: 35vh;

  //use flexbox
  display: flex;
  justify-content: center;
  align-items: center;

  //background
  background-image: linear-gradient(rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.25)), url("/image/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  

  &.loginback{
    background-image: linear-gradient(rgba(255, 255, 255, 0.6),rgba(255, 255, 255, 0.6)), url("/image/bg.jpg");
  }
}

.plan{
  text-transform: uppercase;
  padding-top: 1em;
  font-weight: 1500;  
}

#plan-btn{
    border: 1px solid #555555;
}

#olderTrip {
  
}

.about {
  margin-top: 40px;
  margin-bottom: 40px;
}

.hot {
  margin-top: 40px;
  margin-bottom: 40px;
}

.about-img{
  width: 75%;
  height: 75%;
}

.card-img-top.home {
  margin-top: 1em;
  margin-bottom: 1em; 
}

.card-text .home {
  margin-top: -0.5em;
}

.card-img{
  object-fit: cover;
  height: 203px;
}

.card-img-overlay{
  margin-top: 60px;
}

.hot-deck{
  margin-top: 25px;
}

.hot-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hot-img{
  opacity: 0.8;
}

.hot-title{
  text-transform: uppercase;
}


