.hero {
  background-image:
          url("/image/bg.jpg");
  //width: auto;
  //height: auto;
  padding-top: 33vh;
  padding-bottom: 33vh;
}

//.container{
//  margin-top: auto;
//  margin-btm: auto;
//}

.plan{
  text-transform: uppercase;
  padding-top: 1em;
}

.title {
  text-transform: uppercase;
  padding-top: 2em;
}

.about-img{
  width: 753px;
  heigh: 182px;
  padding-top: 1em;
}