.at-link {
    display: inline-block;
    padding: .25em .4em;
    font-size: 110%;
    font-weight: 100;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    color: #fff;
    background-color: $purple;
}

.at-title {
    margin: 0px;
    color: white;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #dee2e6;
}

.at-error p {
    color: $red;
    margin: 0px;
}

.at-result {
    color: #4fd45a;
    margin: 0px;
}

.at-btn {
    background-color: #989ECD;
    color: white;
}

.accounts-title {
    text-transform: uppercase;
}

.at-signup {
    margin-left: 8px;
    padding: 7px;
    background-color: #7475FF;
}

.at-signup-link {
    padding-top: 10px;
}

