#ItinPlan {
	width: 150px;
	height: 55px;
}

.navbar-brand {
  margin-left: 2em;
}

.navbar-nav {
<<<<<<< .merge_file_a02196
=======
	
>>>>>>> .merge_file_a13452
}

.nav-item{
  margin-left: 2em;
  margin-top: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 16px;
<<<<<<< .merge_file_a02196
}

=======
}
>>>>>>> .merge_file_a13452
