.container-fluid.plannerControl {

    //sizing
    height: 70vh;
    margin: 0px;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 5vw;
    padding-right: 5vw;
    display: inline-grid;



    //background
    background-image: linear-gradient(rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.25)), url("/image/planner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container-fluid.planner {
    min-height: 100vh;
    display: inline-block;
    width: fit-content;
    overflow-x: auto;
}


.row {
    display: inline-flex;
    flex-wrap: nowrap;
}

.card-img-top.planner {
    width: auto;
    height: auto;
}

.btn-danger {
    height: auto;
    width: auto;
}

.btn-selectLoc {
    padding: 5px;
}

.btn-deleteLoc {
    padding: 5px;
}

.btn-openSetting {
    padding: 5px;
    border-radius: 0px;
    border-width: 2px;

}

.btn-dayRemoveDay {
    padding: 5px;
    color: #FF6767;
    font-size: 30px;
    margin-top: -7px;
}

.btn-saveTrip {
    //margin: 15px;
}
.map-container {
    width: 800px;
    max-width: 100%;
    height: 300px;
}

#html-spinner{
    width:100px;
    height:100px;
    border:4px solid #fcd779;
    border-top:4px solid white;
    border-radius:50%;
}

#html-spinner{
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1.2s;
    -webkit-animation-name: rotate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    -moz-transition-property: -moz-transform;
    -moz-animation-name: rotate;
    -moz-animation-duration: 1.2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;

    transition-property: transform;
    animation-name: rotate;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.planner-controller{
    padding-top: 120px;
    padding-bottom: 100px;
}

.planner-controller-btn {
    margin-top: -10px;
}

.planner-save {
    width: 100%;
    height: 50px;
}

.planner-header {
    text-transform: uppercase;
}

.planner-day {
    width: 100px !important;
    height: 100px;
    border-radius: 50%;
    border: double 20px #989ECD;
}

planner-dayInner {
    margin-top: 20px;
}

