.container-fluid.plannerControl {
    padding-top: 100px;
    padding-left: 5vw;
    padding-right: 5vw;
    display: inline-grid;
}

.container-fluid.planner {
    min-height: 100vh;
    display: inline-block;
    width: fit-content;
    overflow-x: auto;
}


.row {
    display: inline-flex;
    flex-wrap: nowrap;
}

.card-img-top.planner {
    width: auto;
    height: auto;
}

.btn-danger {
    height: auto;
    width: auto;
}

.btn-selectLoc {
    padding: 5px;
}

.btn-deleteLoc {
    padding: 5px;
}

.map-container {
    width: 800px;
    max-width: 100%;
    height: 300px;
}
