.container-fluid.planner {
    min-height: 100vh;
    padding-top: 100px;
    width: fit-content;
}


.row {
    display: inline-flex;
    flex-wrap: nowrap;
}

.card-img-top.planner {
    width: auto;
    height: auto;
}

.btn-danger {
    height: auto;
    width: auto;
}

.btn-selectLoc {
    padding: 5px;
}

.btn-deleteLoc {
    padding: 5px;
}

.btn-saveTrip {
    margin-left: 5px;
}