<template name="account">
    <section class="jumbotron loginback jumbotron-fluid mb-0">
        {{> ensureSignedIn template="accountTemplate" auth="loginTemplate"}}
    </section>
</template>

<template name="loginTemplate">
    <div class="d-flex justify-content-center">
    	<div class="container rounded bg-secondary p-5">
        	{{> atForm}}
        </div>
    </div>
</template>

<!--atform-->
<!-- 	At state:
		signIn => display username and stuff
		changePwd => changepwd form					-->
<template name="accountTemplate">
    <div class="d-flex justify-content-center">
    	<div class="container rounded bg-secondary p-4">
			{{#if detailsShow}}
                <div class="form-row justify-content-center p-2 border-bottom">
                    <div class="text-white">
                        <h4 class="accounts-title">Accounts Information</h4>
                    </div>
                </div>
				<form class="pt-3 pb-2">
					<div class="form-row p-3">
						<label for="username" class="col-4 col-form-label">Username: </label>
						<div class="col-sm">
							<input id="username" type="text" readonly class="form-control" value={{accountUsername}}>
						</div>
					</div>
					<div class="form-row p-3">
						<label for="email" class="col-4 col-form-label">Email: </label>
						<div class="col-sm">
							<input id="email" type="text" readonly class="form-control" value={{accountEmail}}>
						</div>
					</div>
				</form>
				<div class="form-row justify-content-center p-3">
					<div class="col-auto">
						<button class="btn btn-success" id="btn-ChangePassword">Change Password</button>
					</div>
				</div>
			{{else}}
				{{> atForm}}
			{{/if}}
        </div>
    </div>
</template>

<!-- for navbar -->
<template name="loginNav">
    {{#if currentUser}}
        <div class="btn-group nav-item">
		  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    {{username}}
		  </button>
		  <div class="dropdown-menu dropdown-menu-right">
			<a class="dropdown-item" id="ddl-ViewDetails" href="#">View Details</a>
		    <a class="dropdown-item" id="ddl-ChangePassword" href="#">Change Password</a>
		    <div class="dropdown-divider"></div>
		    <a class="dropdown-item" id="ddl-logout" href="#">Logout</a>
		  </div>
		</div>
    {{else}}
    	<a class="btn btn-outline-secondary nav-item" id="btn-Login" type="btn" href="#">Login</a>
    {{/if}}
</template>