<template name="destination">
    <section class="destination">
        <div class="text-center">
            <h4 class="title text-secondary">Destination</h4>
        </div>

        <div class="card-group text-center justify-content-center destination-deck">
            {{#each countries}}
            <div class="col-lg-3">
                <div class="card bg-dark text-white destination-card mt-4">
                    <img class="card-img destination-img"
                         src="/image/country/{{country_name}}.jpg"
                         alt="{{country_name}}">
                    <div class="card-img-overlay">
                        <h5 class="card-title">{{country_name}}</h5>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </section>
</template>