<template name="home">
    <section class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="container text-center">
                <img src="/image/plan.png" width="64" height="102" class="planImg" alt="Plan">
            </div>
            <div class="container text-center plan">
                <div class="btn btn-success" id="plan-btn">Plan Now</div>
            </div>
        </div>
    </section>

    <section class="about container">
        <div class="text-center">
            <h4 class="title text-secondary">Features</h4>
            <p>With ItinPlan, you can easily:</p>
        </div>

        <div class="row justify-content-center">
            <div class="card-deck about-img text-center">

                <div class="card border-0">
                    <img class="card-img-top" src="/image/share.png" alt="Share">
                    <div class="card-body">
                        <h5 class="card-title text-danger">Share</h5>
                        <p class="card-text">your itinerary with friends!</p>
                    </div>
                </div>

                <div class="card border-0">
                    <img class="card-img-top" src="/image/settings.png" alt="Customise">
                    <div class="card-body">
                        <h5 class="card-title text-success">Customise</h5>
                        <p class="card-text">your own personal itinerary!</p>
                    </div>
                </div>

                <div class="card border-0">
                    <img class="card-img-top" src="/image/export.png" alt="Export">
                    <div class="card-body">
                        <h5 class="card-title text-info">Export</h5>
                        <p class="card-text">your itinerary to a calendar!</p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="hot container">

        <div class="text-center">
            <h4 class="title text-secondary">Hot Destination</h4>
        </div>

        <div class="text-center">
            <a class="text-success" href="/destination">View More</a>
        </div>

        <div class="card-deck hot-deck text-center">
            {{#each countries}}
                <div class="card bg-dark text-white hot-card">
                    <img class="card-img hot-img" src="https://maps.googleapis.com/maps/api/place/photo?maxheight=260&photoreference={{photo_reference}}&key=AIzaSyDz0qhkNsfhQiY9mXJkPqWsJuUENw4zTxo" alt="{{country_name}}">
                    <div class="card-img-overlay">
                        <h5 class="card-title hot-title">{{country_name}}</h5>
                    </div>
                </div>

            {{/each}}
        </div>


    </section>
</template>

