<template name="home">
    <section class="hero text-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-10 ">
                    <img src="/image/plan.png" width="64" height="102" class="planImg" alt="Plan">
                </div>
            </div>
            <div class="row justify-content-center plan">
                <div class="col-sm-10">
                    <div class="btn btn-success">Plan Now</div>
                </div>
            </div>
        </div>
    </section>

    <section class="about text-center">
        <div class="row justify-content-center">
            <h4 class="title text-secondary">Features</h4>
        </div>
        <div class="row justify-content-center">
            <p>We provides the best benefits for you</p>
        </div>
        <div class="row justify-content-center">
            <div class="card-deck about-img">
                <div class="card border-0">
                    <img class="card-img-top " src="/image/share.png" alt="Share">
                    <div class="card-body">
                        <h5 class="card-title text-danger">Share</h5>
                        <p class="card-text">your pass itinerary</p>
                    </div>
                </div>
                <div class="card border-0">
                    <img class="card-img-top" src="/image/settings.png" alt="Customise">
                    <div class="card-body">
                        <h5 class="card-title text-success">Customise</h5>
                        <p class="card-text">your itinerary</p>
                    </div>
                </div>
                <div class="card border-0">
                    <img class="card-img-top" src="/image/export.png" alt="Export">
                    <div class="card-body">
                        <h5 class="card-title text-info">Export</h5>
                        <p class="card-text">your itinerary to calendar</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="hot text-center">
        <div class="row justify-content-center">
            <h4 class="title text-secondary">Hot Destination</h4>
        </div>
        <div class="row justify-content-center">
            <a class="text-success" href="/destination">View More</a>
        </div>
        <div class="card-deck">
            {{#each country}}
                <div class="card bg-primary text-white text-center p-3">
                    <blockquote class="blockquote mb-0">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
                    </blockquote>
                </div>
            {{/each}}
        </div>
    </section>
</template>

