<template name="location">
    <div class="container-fluid locationHeader">
        <h1 class="text-center text-white location-header-text">{{country}}</h1>

        <div class="row float-right mr-4">
            <div class="col-4 planner-print">
                <a class="btn btn-success" href="/planner/?_id=new&country={{country}}">
                    <i class="fa fa-plus mr-1"></i> Create new trip
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid locationBody">
        <h3 class="text-center pt-4 pb-3 location-header">Hot Location</h3>
        <div class="card-deck mx-auto pb-4">
            {{#each locations}}
                <div class="col-sm-4 pb-3 pt-3 ">
                    <div class="card p-4 rounded-right">
                        <div class="card-body ">
                            <h5 class="card-title location-card-header border-bottom pb-1 text-black">{{name}}</h5>
                            <p class="card-text location-card-body">{{address}}</p>
                            <button class="btn btn-moreInfo btn-primary text-white" id="moreInfo" value={{name}}>More Info</button>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</template>