<template name="navBar-home">
    <nav class="navbar fixed-top navbar-expand-sm navbar-light bg-primary">
        <a class="navbar-brand" href="/">
            <img src="/image/logo.png" width="150" height="55" class="d-inline-block align-top" alt="ItinPlan">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Home</a>
                <a class="nav-item nav-link" href="/destination">Destination</a>
                <a class="nav-item nav-link" href="/myTrip">My Trip</a>
                <form class="form-inline">
                    <button class="btn btn-sm btn-outline-secondary btn-block nav-item" type="button">Login</button>
                </form>
            </div>
        </div>
    </nav>
</template>

<template name="navBar-destination">
    <nav class="navbar fixed-top navbar-expand-sm navbar-light bg-primary">
        <a class="navbar-brand" href="/">
            <img src="/image/logo.png" width="150" height="55" class="d-inline-block align-top" alt="ItinPlan">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link active"  href="/destination">Destination</a>
                <a class="nav-item nav-link" href="/myTrip">My Trip</a>
                <form class="form-inline">
                    <button class="btn btn-sm btn-outline-secondary btn-block nav-item" type="button">Login</button>
                </form>
            </div>
        </div>
    </nav>
</template>

<template name="navBar-myTrip">
    <nav class="navbar fixed-top navbar-expand-sm navbar-light bg-primary">
        <a class="navbar-brand" href="/">
            <img src="/image/logo.png" width="150" height="55" class="d-inline-block align-top" alt="ItinPlan">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link"  href="/destination">Destination</a>
                <a class="nav-item nav-link active" href="/myTrip">My Trip</a>
                <form class="form-inline">
                    <button class="btn btn-sm btn-outline-secondary btn-block nav-item" type="button">Login</button>
                </form>
            </div>
        </div>
    </nav>
</template>