<template name="planner">

		<!--contain the trip planner itself-->
			<div class="container-fluid planner">
				<!--{{createTrip "Mexico"}}-->
				<!-- add stuff like days and start date etc
				<label>{{tripCountry}}</label>
				-->

				<!--this is the control panel-->
				<div class="row align-items-center p-3">
					<button class="btn btn-success">{{tripId}}</button>
					{{#if checkLoginAndData}}
						<button class="btn btn-success btn-saveTrip">Save</button>
					{{/if}}
				</div>
				<div class="w-100"></div>
				

				{{#if haveTrip}}

				<!--keep trip stored in local storage constantly-->
					{{localStorageTrip}}

					{{# each day in tripDays}}
						{{> dayTemplate dayIndex=@index day=day trip=reactiveTrip}}
					{{/each}}

					<!-- for the new day button -->
					<div class="row align-items-center p-3">
						<div class="btn btn-danger btn-addDay">Add Day</div>
					</div>
					<div class="w-100"></div>
				{{else}}
					<p>wait</p> <!--from database/or create? maybe idk-->
				{{/if}}
			</div>

		<!--modal for opening location @yuanrong javascript must be in planner template-->
		<div class="modal fade" id="locationModal" tabindex="-1" role="dialog" aria-labelledby="modal display" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
			  <div class="modal-content">
				<div class="modal-header">
				  <h5 class="modal-title" id="exampleModalLabel">Select Location:</h5>
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>
				<div class="modal-body">
				  <form>
					  <input type="text" class="form-control" id="recipient-name">
				  </form>
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-secondary btn-saveLoc" data-dismiss="modal">Save</button>
				</div>
			  </div>
			</div>
		</div>
</template>

<template name="dayTemplate">
	<div class="row align-items-center p-3">
		<!--for each day, there is a day button and locations within the day template.-->
		<div class="card border-primary m-1 mr-4 text-center" style="width: 8rem;">
			<div class="card-body">
				<p class="card-text mt-2">Day {{getDayNum dayIndex}}</p>
				<div class="btn btn-danger btn-removeDay mb-2">Delete</div>
			</div>
		</div>

		{{# each location in day}}
			{{> locationTemplate dayIndex=dayIndex locIndex=@index location=location trip=trip}}
		{{/each}}
		<div class="btn btn-danger btn-dayAddLoc ml-4">Add Location</div>
	</div>
	<div class="w-100"></div>
</template>

<template name="locationTemplate">
	<div class="card border-primary m-1" style="width: 12rem;">
			<img class="card-img-top planner m-1 border border-dark">
			<div class="card-body">
				<h6 class="card-title">{{location}} {{getLocNum locIndex}}</h6>
				<p class="card-text">Yolo.</p>
	
				<button class="btn btn-danger btn-deleteLoc float-left m-1">
					<span aria-hidden="true">&times;</span>
				</button>
				
				<button class="btn btn-success btn-selectLoc float-right m-1" data-toggle="modal" data-target="#locationModal" data-location={{location}}>Select Location</button>
			</div>
	</div>
</template>


