<template name="planner">

    {{#if haveTrip}}
        {{#if isOwner}}
            <!-- owner of trip confirmed, render editable version of trip -->

            <!-- Control Panel: BackgroundPic and Details of Trip -->
            <div class="container-fluid plannerControl">
                <div class="card text-white text-center justify-content-center bg-transparent planner-controller border-0 ">
                    <div class="card-header planner-header bg-transparent border-0">
                        <h1>{{tripDays.length}} Days in {{tripCountry}}</h1>
                    </div>
                    <div class="card-body border-0">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <h5>From {{tripStartDate}}</h5>
                            </div>
                            <div class="col-sm-1 planner-controller-btn">
                                <button class="btn btn-openSetting btn-outline-secondary border-0" data-toggle="modal"
                                        data-target="#settingsModal">
                                    <i class="fa mr-1 fa-cogs"></i> Edit settings
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- For members, allow save -->
                {{#if checkLoginAndConnected}}
                    <div class="container-fluid planner-save">
                        <button class="btn btn-success btn-saveTrip float-right">
                            <i class="fa fa-save mr-1"></i> Save Trip
                        </button>
                    </div>
                {{/if}}

                <!--this is for the control panel editing stuff-->
                {{> settingsModalTemplate trip=reactiveTrip}}

                <!--- Modal for saving trip confirmation -->
                <div class="modal fade" id="saveTrip" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                        <!--Content-->
                        <div class="modal-content text-center">
                            <!--Body-->
                            <div class="modal-body">

                                <i class="fa fa-check-circle fa-4x"></i>
                                <p class="tripSaved">Trip Saved</p>
                            </div>
                            <!--Footer-->
                            <div class="modal-footer flex-center">
                                <button class="btn btn-success" data-dismiss="modal">
                                    Ok
                                </button>
                            </div>
                        </div>
                        <!--/.Content-->
                    </div>
                </div>
            </div>

            <!-- Alert: for newly created trips -->
            {{#if isNewlyCreated}}
                <div class="container-fluid p-3">
                    <div class="container-fluid alert alert-success alert-dismissible fade show" role="alert"
                        id="newTripAlert">
                        <h4 class="alert-heading">Welcome to your New trip itinerary!</h4>
                        <p>Hi there! Start planning your future vacation.</p>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <hr>
                        <p class="mb-0">* Non registered users are unable to save their trips on the server! *</p>
                    </div>
                </div>
            {{/if}}

            <!-- Trip Planner -->
            <div class="container-fluid planner">
                <!--this is for the location modal editing location-->
                <!-- {{locationModalTemplate here}} -->

                <div class="container-fluid ">
                    <h3 class="page-title">Timeline</h3>
                    {{# each day in tripDays}}
                        {{> dayTemplate dayIndex=@index day=day trip=reactiveTrip isOwner=isOwner}}
                    {{/each}}
                </div>

                <!-- new day button -->
                <div class="row p-4">
                    <div class="btn btn-danger btn-addDay ml-5">Add Day</div>
                </div>
                <div class="w-100"></div>

                <!--this is for the location selection modal stuff-->
                {{> locationModalTemplate trip=reactiveTrip}}
            </div>

            <!--ensure trip stored in local storage constantly-->
            {{localStorageTrip}}

        {{else}}
            <!-- not owner: render a disabled version of planner. work in progress-->

            <!-- Control Panel: BackgroundPic and Details of Trip -->
            <div class="container-fluid plannerControl ">
                <div class="card text-white text-center justify-content-center bg-transparent planner-controller border-0 ">
                    <div class="card-header planner-header bg-transparent border-0">
                        <h1 style="color:black;">{{tripDays.length}} Days in {{tripCountry}}</h1>
                    </div>
                    <div class="card-body border-0">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <h5>From {{tripStartDate}}</h5>
                            </div>
                            <div class="col-sm-1 planner-controller-btn">
                                <button class="btn btn-outline-secondary border-0" data-toggle="modal"
                                        data-target="#settingsModal">
                                    <i class="fa mr-1 fa-cogs"></i> "to remove this btn"
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- For members, allow copy to localstorage -->
                {{#if checkConnected}}
                    <div class="container-fluid planner-save">
                        <button class="btn btn-success btn-copyTrip float-right">
                            <i class="fa fa-save mr-1"></i> create copy of trip
                        </button>
                    </div>
                {{/if}}
            </div>

            <!-- Alert: info to let people know it is not an actual edittable trip -->
            <div class="container-fluid p-3">
                <div class="container-fluid alert alert-success alert-dismissible fade show" role="alert"
                    id="newTripAlert">
                    <h4 class="alert-heading">This is a copy of another trip!</h4>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <hr>
                    <p class="mb-0">* To edit it, copy it as your current trip! *</p>
                </div>
            </div>

            <!-- Trip Planner -->
            <div class="container-fluid planner">
                <!--this is for the location modal editing location-->
                <!-- {{locationModalTemplate here}} -->

                <div class="container-fluid ">
                    <h3 class="page-title">Timeline</h3>
                    {{# each day in tripDays}}
                        {{> dayTemplate dayIndex=@index day=day trip=reactiveTrip isOwner=isOwner}}
                    {{/each}}
                </div>
                <div class="w-100"></div>
            </div>

        {{/if}}
    {{else}}
        <!--loading spinner thingy-->
        <div class="container-fluid ">
            <div class="card text-white text-center justify-content-center bg-transparent planner-controller border-0 ">
                <div class="container d-flex justify-content-center pt-5 mt-5">
                    <div id="html-spinner"></div>
                </div>
            </div>
        </div>
    {{/if}}
</template>