<template name="planner">

    <!--Control Panel-->
    {{#if haveTrip}}
        {{#if isOwner}}
            <!-- owner of trip confirmed, render editable version of trip -->

            <!-- Control Panel: BackgroundPic and Details of Trip -->
            <div class="container-fluid plannerControl ">
                <div class="card text-white text-center justify-content-center bg-transparent planner-controller border-0 ">
                    <div class="card-header planner-header bg-transparent border-0">
                        <h1>{{tripDays.length}} Days in {{tripCountry}}</h1>
                    </div>
                    <div class="card-body border-0">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <h5>From {{tripStartDate}}</h5>
                            </div>
                            <div class="col-sm-1 planner-controller-btn">
                                <button class="btn btn-openSetting btn-outline-secondary border-0" data-toggle="modal"
                                        data-target="#settingsModal">
                                    <i class="fa mr-1 fa-cogs"></i> Edit settings
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- For members, allow save -->
                {{#if checkLoginAndConnected}}
                    <div class="container-fluid planner-save">
                        <button class="btn btn-success btn-saveTrip float-right">
                            <i class="fa fa-save mr-1"></i> Save Trip
                        </button>
                    </div>
                {{/if}}

                <!--this is for the control panel editing stuff-->
                {{> settingsModalTemplate trip=reactiveTrip}}

                <!--- Modal for saving trip confirmation -->
                <div class="modal fade" id="saveTrip" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                        <!--Content-->
                        <div class="modal-content text-center">
                            <!--Body-->
                            <div class="modal-body">

                                <i class="fa fa-check-circle fa-4x"></i>
                                <p class="tripSaved">Trip Saved</p>
                            </div>
                            <!--Footer-->
                            <div class="modal-footer flex-center">
                                <button class="btn btn-success" data-dismiss="modal">
                                    Ok
                                </button>
                            </div>
                        </div>
                        <!--/.Content-->
                    </div>
                </div>
            </div>

            <!-- Alert: for newly created trips -->
            {{#if isNewlyCreated}}
                <div class="container-fluid p-3">
                    <div class="container-fluid alert alert-success alert-dismissible fade show" role="alert"
                        id="newTripAlert">
                        <h4 class="alert-heading">Welcome to your New trip itinerary!</h4>
                        <p>Hi there! Start planning your future vacation.</p>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <hr>
                        <p class="mb-0">* Non registered users are unable to save their trips on the server! *</p>
                    </div>
                </div>
            {{/if}}

            <!-- Trip Planner -->
            <div class="container-fluid planner">
                <!--this is for the location modal editing location-->
                <!-- {{locationModalTemplate here}} -->

                <div class="container-fluid ">
                    <h3 class="page-title">Timeline</h3>
                    {{# each day in tripDays}}
                        {{> dayTemplate dayIndex=@index day=day trip=reactiveTrip isOwner=isOwner}}
                    {{/each}}
                </div>

                <!-- new day button -->
                <div class="row p-4">
                    <div class="btn btn-danger btn-addDay ml-5">Add Day</div>
                </div>
                <div class="w-100"></div>
            </div>

            <!--ensure trip stored in local storage constantly-->
            {{localStorageTrip}}

        {{else}}
            <!-- not owner: render a disabled version of planner. work in progress-->

            <!-- Control Panel: BackgroundPic and Details of Trip -->
            <div class="container-fluid plannerControl ">
                <div class="card text-white text-center justify-content-center bg-transparent planner-controller border-0 ">
                    <div class="card-header planner-header bg-transparent border-0">
                        <h1 style="color:black;">{{tripDays.length}} Days in {{tripCountry}}</h1>
                    </div>
                    <div class="card-body border-0">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <h5>From {{tripStartDate}}</h5>
                            </div>
                            <div class="col-sm-1 planner-controller-btn">
                                <button class="btn btn-outline-secondary border-0" data-toggle="modal"
                                        data-target="#settingsModal">
                                    <i class="fa mr-1 fa-cogs"></i> "to remove this btn"
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- For members, allow copy to localstorage -->
                {{#if checkLoginAndConnected}}
                    <div class="container-fluid planner-save">
                        <button class="btn btn-success btn-copyTrip float-right">
                            <i class="fa fa-save mr-1"></i> create copy of trip
                        </button>
                    </div>
                {{/if}}
            </div>

            <!-- Alert: info to let people know it is not an actual edittable trip -->
            <div class="container-fluid p-3">
                <div class="container-fluid alert alert-success alert-dismissible fade show" role="alert"
                    id="newTripAlert">
                    <h4 class="alert-heading">This is a copy of another trip!</h4>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <hr>
                    <p class="mb-0">* To edit it, copy it as your current trip! *</p>
                </div>
            </div>

            <!-- Trip Planner -->
            <div class="container-fluid planner">
                <!--this is for the location modal editing location-->
                <!-- {{locationModalTemplate here}} -->

                <div class="container-fluid ">
                    <h3 class="page-title">Timeline</h3>
                    {{# each day in tripDays}}
                        {{> dayTemplate dayIndex=@index day=day trip=reactiveTrip isOwner=isOwner}}
                    {{/each}}
                </div>
                <div class="w-100"></div>
            </div>

        {{/if}}
    {{else}}
        <!--loading spinner thingy-->
        <div class="container d-flex justify-content-center pt-5 mt-5">
            <div id="html-spinner"></div>
        </div>
    {{/if}}

    
    <!-- Local Modal-->
    <!--modal for opening location @yuanrong javascript must be in planner template-->
    <div class="modal fade" id="locationModal" tabindex="-1" role="dialog" aria-labelledby="modal display"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Select Location:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-row align-items-center">
                            <div class="col-auto">
                                <input type="text" class="form-control" id="recipient-name">
                            </div>
                            <div class="col-auto">
                                <button type="button" class="btn btn-secondary btn-searchLoc">Search</button>
                            </div>
                        </div>

                    </form>
                    <div class="map-container">
                        {{> googleMap name="locMap" options=locationMap}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-saveLoc" data-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>
</template>

<!--setting template for modal-->
<template name="settingsModalTemplate">
    <div class="modal fade rounded" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="modal display"
         aria-hidden="true">
        <!-- Modal : settingsModal -->
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <!-- Header-->
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="exampleModalLabel">My Trip Settings:</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- Body -->
                <div class="modal-body">
                    <div class="container pr-1 pl-1">
                        <form>
                            <div class="form-row p-1">
                                <div class="form-group col">
                                    <label for="country">Trip name:</label>
                                    <input class="form-control" id="tripName"/>
                                    <div class="invalid-feedback">
                                        Invalid trip name.
                                    </div>
                                </div>
                            </div>

                            <div class="form-row p-1">
                                <div class="form-group col">
                                    <label for="country">Country:</label>
                                    <select class="form-control" id="country">
                                        <option value="Custom">Custom</option>
                                        {{#each country in countryDropDown}}
                                            <option value={{country}}>{{country}}</option>
                                            <!-- ensures the select option is the trip option -->
                                            {{setCountrySelected}}
                                        {{/each}}
                                    </select>
                                </div>
                            </div>

                            <div class="form-row p-1 align-items-end">
                                <div class="form-group col">
                                    <label for="dateDay">Start Date:</label>
                                    <select class="form-control" id="dateDay" placeholder="Day">
                                        {{#each day in daysDropDown}}
                                            <option>{{day}}</option>
                                        {{/each}}
                                    </select>
                                </div>

                                <div class="form-group col">
                                    <select class="form-control" id="dateMonth" placeholder="Month">
                                        {{#each month in monthsDropDown}}
                                            <option>{{month}}</option>
                                        {{/each}}
                                    </select>
                                </div>

                                <div class="form-group col">
                                    <select class="form-control" id="dateYear" placeholder="Year">
                                        {{#each year in yearsDropDown}}
                                            <option>{{year}}</option>
                                        {{/each}}
                                    </select>
                                </div>

                            </div>

                            <div class="form-row p-1">
                                <div class="form-group col">
                                    <label for="dayNumbers">Number of days:</label>
                                    <input type="number" class="form-control" id="dayNumbers" min="1" max="365"/>
                                    <div class="invalid-feedback">
                                        Too many days. Please keep it below 365 :)
                                    </div>
                                </div>
                            </div>
                            
                            {{#if isOwner}}
                                <div class="form-row p-1 align-items-center">
                                    <div class="form-group col">
                                        <label for="publicSelector">Make public:</label>
                                    </div>
                                    <div class="form-group col">
                                        <div class="btn-group btn-group-toggle" id="publicSelector" data-toggle="buttons">
                                            <label class="btn btn-primary" id="radio-PrivateLabel">
                                                <input type="radio" name="options" id="radio-Private" autocomplete="off"> Private
                                            </label>
                                            <label class="btn btn-primary" id="radio-PublicLabel">
                                                <input type="radio" name="options" id="radio-Public" autocomplete="off"> Public
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                
                                {{#if publicTrip}}
                                    <div class="form-row p-1 align-items-center">
                                        <div class="form-group col">
                                            <label for="shareURL">Copy this URL to share with your friends!:</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="shareURL" value={{shareURL}} readonly>
                                                <span class="input-group-append">
                                                    <button class="btn btn-outline-secondary pr-3 pl-3" id="btn-copyURL" type="button">
                                                        <i class="fa fa-clipboard"></i>
                                                    </button>
                                                </span>
                                                <div class="valid-feedback">
                                                        URL Copied!
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {{/if}}
                            {{/if}}
                            
                        </form>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-saveSettings text-white">
                        <i class="fa mr-2 fa-save"></i>Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<!-- template for each row -->
<template name="dayTemplate">

    <!-- New Layout-->
    <ul class="timeline">

        <li class="timeline-line"></li>
        <li class="timeline-group">
            {{#if isOwner}}
            <button type="button" class="close btn-dayRemoveDay text-info" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{/if}}
            <a href="#" class="btn btn-primary"><i class="fa fa-calendar mr-2"></i>Day {{getDayNum dayIndex}}</a>
            {{#if isOwner}}
                <div class="btn btn-danger btn-dayAddLoc">Add Location</div> <!-- Should change to modal-->
            {{/if}}
        </li>
    </ul>

    <ul class="timeline">
        {{# each location in day}}
            {{> locationTemplate dayIndex=dayIndex locIndex=@index location=location trip=trip isOwner=isOwner}}
        {{/each}}

    </ul>

    <!-- Old Layout -->
    <!--<div class="row align-items-center p-3">-->
    <!--&lt;!&ndash;for each day, there is a day button and locations within the day template.&ndash;&gt;-->
    <!--<button type="button" class="close btn-dayRemoveDay text-info"  aria-label="Close">-->
    <!--<span aria-hidden="true">&times;</span>-->
    <!--</button>-->
    <!--<div class="card border-primary m-1 mr-4 text-center planner-day">-->
    <!--<div class="card-body mt-sm-3">-->
    <!--<p class="card-text text-primary">Day {{getDayNum dayIndex}}</p>-->
    <!--</div>-->
    <!--</div>-->

        <!--{{# each location in day}}-->
    <!--{{> locationTemplate dayIndex=dayIndex locIndex=@index location=location trip=trip}}-->
        <!--{{/each}}-->
    <!--<div class="btn btn-danger btn-dayAddLoc ml-4">Add Location</div>-->
    <!--</div>-->
    <!--<div class="w-100"></div>-->

</template>

<!-- template for each location -->
<template name="locationTemplate">
    <!-- New layout-->
    <li class="timeline-line"></li>
    <li class="timeline-item">
        <div class="timeline-badge"><a href="#"></a></div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                {{getLocName}}
            </div>
            <div class="timeline-content">
                <ul>
                    <li>INFORMATION IN HERE</li>
                    <li>PICTURE IN HERE</li>
                </ul>
            </div>
            {{#if isOwner}}
            <div class="timeline-footer">
                <button class="close text-danger btn-deleteLoc">
                    <span aria-hidden="true">&times;</span>
                </button>

                <button class="btn btn-success btn-selectLoc" data-toggle="modal"
                        data-target="#locationModal" data-location={{location}}>Select Location
                </button>
            </div>
            {{/if}}
        </div>
    </li>


    <!-- Old Layout-->
    <!--<div class="card border-primary m-1" style="width: 12rem;">-->
    <!--<img class="card-img-top planner m-1 border border-dark">-->
    <!--<div class="card-body">-->
    <!--<h6 class="card-title">{{getLocName}}</h6>-->
    <!--<p class="card-text"></p>-->

    <!--<button class="btn btn-danger btn-deleteLoc float-left m-1">-->
    <!--<span aria-hidden="true">&times;</span>-->
    <!--</button>-->

    <!--<button class="btn btn-success btn-selectLoc float-right m-1" data-toggle="modal"-->
    <!--data-target="#locationModal" data-location={{location}}>Select Location-->
    <!--</button>-->
    <!--</div>-->
    <!--</div>-->
</template>
