<!-- template for each location -->
<template name="locationTemplate">
    <!-- New layout-->
    <li class="timeline-line"></li>
    <li class="timeline-item">
        <div class="timeline-badge"><a href="#"></a></div>
        <div class="timeline-panel">
            <div class="container-fluid p-2">
                <img class="img-fluid border border-primary rounded" src="{{locationImageURL}}" alt="MapImage">
            </div>
            
            <div class="timeline-heading">
                {{locationName}}
            </div>
            <div class="timeline-content">
                <ul>
                    <li>{{locationAddress}}</li>
                </ul>
            </div>
            {{#if isOwner}}
                <div class="timeline-footer">
                    <button class="close text-danger btn-deleteLoc">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <button class="btn btn-success btn-selectLoc" data-toggle="modal"
                            data-target="#locationModal">Select Location
                    </button>
                </div>
            {{/if}}
        </div>
    </li>
</template>