<template name="locationModalTemplate">
    <!-- Local Modal-->
    <div class="modal fade" id="locationModal" tabindex="-1" role="dialog" aria-labelledby="modal display"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Select Location:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                    <!--New Layout

                    {{#autoForm schema=searchSchema id="searchLocation" type="normal"}}
                    <div class="row p-2 align-items-center">
                        <div class="col-11 pr-2">
                            {{#if googleMapsReady}}
                                {{> afQuickField name="location" type="googleplace" class="form-control" placeholder="Enter location"}}
                            {{/if}}
                        </div>
                        <div class="col-2 mb-3 pl-1">
                            <button type="submit" class="btn btn-secondary btn-searchLoc">Search</button>
                        </div>
                    </div>
                    {{/autoForm}}-->

                    
                    <div class="row">
                        <div class="col">
                            <input id="input-placeAutocomplete" class="controls" type="text" placeholder="Enter a location">                    

                        </div>
                    </div>
                    <!--Old Layout-->
                    <!--<form>-->
                        <!--<div class="form-row align-items-center">-->
                            <!--<div class="col-auto">-->
                                <!--<input type="text" class="form-control" id="recipient-name">-->
                            <!--</div>-->
                            <!--<div class="col-auto">-->
                                <!--<button type="button" class="btn btn-secondary btn-searchLoc">Search</button>-->
                            <!--</div>-->
                        <!--</div>-->

                    <!--</form>-->
                        <div class="row">
                            <div class="map-container">
                                {{> googleMap name="locationMap" options=initialOptions}}
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-saveLoc" data-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>
</template>